<!DOCTYPE html>
<html lang="ja">
<head>

    <!--ここから-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style_1211.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!--#ここまで-->

    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" conten="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>