<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{props.title}}</title>
    </head>
    <body>
        <div id="contents">
            <p>{{props.msg}}</p>
        </div>
        <hr>
        <ul>
            <h1>学習</h1>
            <li><a href="/choose">テーブル選択ページ</a></li>
            <li><a href="/join">テーブル結合ページ</a></li>
            <li><a href="/insert">INSERT文</a></li>
            <li><a href="/delete/single">DELETE文</a></li>

        </ul>
        <ul>
            <h1>演習</h1>
            <li><a href="/create_table">テーブル作成</a></li>
            <li><a href="/insert_table_choose">データ挿入</a></li>
            <li><a href="/delete_table_choose">データ削除</a></li>
        </ul>
        <hr>
        <a href="/logout">ログアウト</a>
    </body>
</html>
