{% extends "base.html" %}
{% block title %}ログインページ{% endblock %}
{% block content %}
<h1>ログイン</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
{% endwith %}

<form method="POST">
    <label for="username">ユーザ名</label>
    <input type="text" name="username" id="username" required>

    <label for="password">パスワード</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">ログイン</button>

    <div class="or-separator">または</div>

    <a href="/signup" class="link-button">新規登録</a>
</form>

{% endblock  %}