{% extends "base.html" %}
{% block content %}
<title>ユーザ登録ページ</title>
<h1>ユーザ登録</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p style="color: {{ 'red' if 'danger' in message else 'green' }};">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<form method="POST">
    <h1>新規作成</h1>
    <label for="username">ユーザ名</label>
    <input type="text" name="username" id="username" required>

    <label for="password">パスワード</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">新規作成</button>
</form>
<hr>
<ul>
    <a href="/login">ログイン</a>
</ul>
{% endblock %}

